<a href="https://colab.research.google.com/github/Navaneethadapa/DWDM/blob/main/DWDM_Exp_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
dataset = pd.read_csv("/content/iris.csv")
dataset

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

**Pearson’s Correlation**

In [7]:
np.corrcoef(dataset['sepal_length'], dataset['sepal_width'])

array([[ 1.        , -0.10936925],
       [-0.10936925,  1.        ]])

In [8]:
dataset.corr()

<ipython-input-8-c187c74d1e71>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  dataset.corr()

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000    -0.109369      0.871754     0.817954
sepal_width      -0.109369     1.000000     -0.420516    -0.356544
petal_length      0.871754    -0.420516      1.000000     0.962757
petal_width       0.817954    -0.356544      0.962757     1.000000

**Cosine Similarity**

In [10]:
from sklearn.metrics.pairwise import cosine_similarity
a = [3,2,0,5,0,0,0,2,0,0]
b = [1,0,0,0,0,0,0,1,0,2]
print('Cosine Similarity:',cosine_similarity([a],[b]))

Cosine Similarity: [[0.31497039]]

**Jaccard Similarity**

In [11]:
from sklearn.metrics import jaccard_score 
a = [1,0,0,0,0,0,0,0,0,0]
b = [0,0,0,0,0,0,1,0,0,1]
jaccard_score(a, b)

0.0

**Euclidean Distance**

In [12]:
from sklearn.metrics.pairwise import euclidean_distances #define vectors
A = [2,3]
B = [4,3]
print('Eucliden Distance:',euclidean_distances([A],[B]))

Eucliden Distance: [[2.]]

**Manhattan Distance**

In [14]:
from scipy.spatial.distance import cityblock #define vectors
A = [2,3]
B = [4,3]
#calculate Manhattan distance between vectors 
cityblock(A, B)

2